@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .labelInput {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100;
  }
}

:root {
  --primary-color-light: #6366f1;
  --primary-color-dark: #818cf8;

  font-family: "Bebas Neue", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color-dark);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.button-menu {
  height: 1.75rem !important;
  width: 1.75rem !important;
  font-size: 0.25rem !important;
}

#app {
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

@media (prefers-color-scheme: light) {
  h1 {
    color: var(--primary-color-light);
    text-shadow: none;
  }
}
